<nav>
    <div class="site-title">
      <a href="/"><h1>Classic Models</h1></a>
      <p>Webshop Prototype</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>