<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content intro">
      <h2>Welcome</h2>
      <p>
        Classic Models is a retail chain that sells model figures in stores around the world. 
        Now they want to start an online shop and have commissioned a sketch of a structure how it could look like with their product catalogue.
      </p>
    </div>
  </body>
</html>
